body {
  font-family: arial;
}

.ticket {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.editable {
  margin-top: 0;
}

.description {
  font-family: arial;
  width: 837px;
  height: 150px;
  padding: 10px;
}

.ticket-meta {
   line-height: 2;
}

.ticket-assignee {
  margin-right: 16px;
}

ul {
    list-style-type: none;
}

.ticket-labels {
  margin: 0;
  padding: 0;
  display: flex;
}

.ticket-label {
  background-color: #f2f2f2;
  border-radius: 6px;
  color: #666666;
  padding: 1px 4px;
  margin-right: 10px;
}
